* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E3E3FD;
    background-image: linear-gradient(31deg, #996dde 40%, transparent 30%);
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    color: white;
    background-color: #996dde;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #986ddebd;
}

button {
    outline: none;
    border: none;
}

.btn {
    padding: 10px 15px;
    transition: all 0.1s ease;
    font-size: 15px;
    font-weight: 800;
    border-radius: 5px;
}

.btn:active {
    transform: scale(0.95);
    opacity: 0.9;
}

.container {
    width: 50%;
    background-color: white;
    margin: 50px auto;
    height: 50vh;
    overflow-y: scroll;
    padding: 50px;
    position: relative;
}

.container::-webkit-scrollbar {
    width: 6px;
    background-color: #986dde86;
}

.container::-webkit-scrollbar-thumb {
    background-color: #996dde;
    border-radius: 5px;
}

.task {
    padding: 10px 15px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-user-select: none;
    user-select: none;
}

.done {
    border: none;
    border-left: 5px solid #996dde;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff5d;
    backdrop-filter: blur(140px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #ffffff;
    border-radius: 10px;
    height: 50vh;
    width: 50%;
    animation: scaleup 0.3s ease-in;
    padding: 50px;
}

@keyframes scaleup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.title {
    text-align: center;
    color: #996dde;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

.inputField {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 7px;
    outline: none;
    border: 2px solid #986dde98;
    margin-bottom: 10px;
}

.inputField:focus {
    box-shadow: 0px 0px 5px 1px #986dde88;
    border: 2px solid #996dde;
}

.submitBtn {
    background-color: #996dde;
    width: 100%;
    padding: 7px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submitBtn:hover {
    background-color: hsl(263, 63%, 55%);
}

.cancelBtn {
    background-color: white;
    border: 2px solid #996dde;
    width: 100%;
    padding: 7px;
    color: #996dde;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cancelBtn:hover {
    background-color: #986dde4d;
}

.addBtn {
    background-color: #996dde;
    border-radius: 50px;
    padding: 5px 13px;
    color: white;
    font-size: 30px;
    float: right;
}